h1.myclock{
    text-align: center;
    padding-top: 1em;
    color: wheat;
    font-size: 10em;
}
body{
    
    background-image: url('./img/background.jpg');
    background-repeat: no-repeat;
    background-position: top;
}
@media (max-width: 992px) {
    h1.myclock{
        text-align: center;
        padding-top: 2em;
        font-size: 5em;
        background-position: center;
    }
}